<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mindsettle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GetHelpActivity"
            android:label="Get Help"
            android:parentActivityName=".Main2BottomActivity"></activity>
        <activity android:name=".CopingStatementActivity"
            android:label="Shift Your Thinking"
            android:parentActivityName=".Main2BottomActivity"/>
        <activity android:name=".EditProfileActivity"
            android:label="Edit Profile"
            android:parentActivityName=".Main2BottomActivity" />
        <activity
            android:name=".GratitudeActivity"
            android:label="Gratitude"
            android:parentActivityName=".Main2BottomActivity" />
        <activity
            android:name=".TakeASmallStep"
            android:label="@string/takeasmallstep"
            android:parentActivityName=".Main2BottomActivity" />
        <activity android:name=".NewGoalActivity"
            android:label="New Goal"
            android:parentActivityName=".Main2BottomActivity" />
        <activity
            android:name=".Main2BottomActivity"
            android:theme="@style/AppTheme.NoActionBar.ys" />
        <activity
            android:name=".AudioActivity"
            android:label="Take a Breath"
            android:parentActivityName=".Main2BottomActivity" />
        <activity
            android:name=".AudioFemaleActivity"
            android:label="Take a Breath"
            android:parentActivityName=".AudioActivity" />
        <activity
            android:name=".AudioMaleActivity"
            android:label="Take a Breath"
            android:parentActivityName=".AudioActivity" />
        <activity
            android:name=".BreathActivity"
            android:label="Take a Breath"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CreateAccountActivity"
            android:label="@string/createAcc"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SignInActivity"
            android:label="@string/signIn"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="Home"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TestActivity"
            android:label="Test"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>